* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1000px;
  background-color: #9bff9b;
}

.main {
  margin-left: 14%;
  width: 86%;
  height: 100%;
  background-color: #9bff9b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__title {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  color: black;
}

.article__image1 {
  width: 150px;
}

.article__image2 {
  width: 150px;
}

.article__image3 {
  width: 150px;
}

.nav {
  position: fixed;
  width: 14%;
  height: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav__lk {
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
  width: 100px;
  border-radius: 10px;
  color: white;
}

.section {
  margin-left: 15%;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.315);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 1vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__header {
  padding: 20px;
}

.section__article {
  padding: 10px;
}

.aside {
  width: 35%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.aside__image {
  width: 300px;
  padding: 10px;
  padding-top: 10px;
  border-radius: 3vw;
}

.footer {
  position: relative;
  bottom: 0;
  left: 50%;
  padding-top: 100px;
}
/*# sourceMappingURL=style.css.map */