*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}
@media (min-width: 600px){
body{
    display: flex;
    flex-wrap: wrap;
    background-color: dimgray;
}
.m1{
    width: 100%;
    background-color:rgba(0, 0, 0, 30%);
    position: fixed;
    top: 0;
    height: 100%;
    color: white;
    text-align: center;
    padding-top: 400px;
    font-size: 8vw;
}
header{
    width: 100%;
    height: 80px;
    background-color: black;
}
header>a{
    font-size: 30px;
    color: white;
    padding: 20px;
}

.masno1{
    width: 100%;
    background-image: url(../images/tlo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

.s1{
    display: flex;
    margin-top: 250px;
    margin-bottom: 250px;
    width: 100%;
    height: 150px;
    background-color: rgba(0,0,0,60%);
    justify-content: center;
    align-items: center;
}
.s1>a{
    margin: 20px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 1.5vw;
    width: 200px;
    text-align: center;
    padding: 30px;
}
article{
    width: 77%;
    height: 1300px;
    background-color: black;
    margin: 1%;
    margin-top: 40px;
    border-radius: 1.5vw;
}
aside{
    width: 19%;
    height: 1300px;
    background-color: black;
    margin: 1%;
    margin-top: 40px;
    border-radius: 1.5vw;
}
.s2{
    width: 100%;
    height: 300px;
    background-color: black;
    margin: 1%;
    border-radius: 1.5vw;
}
}
@media (max-width: 600px){
    body{
        display: flex;
        flex-wrap: wrap;
        background-color: dimgray;
    }
    .m1{
        width: 100%;
        background-color:rgba(0, 0, 0, 30%);
        position: fixed;
        top: 0;
        height: 100%;
        color: white;
        text-align: center;
        padding-top: 400px;
        font-size: 8vw;
    }
    header{
        width: 100%;
        height: 80px;
        background-color: black;
    }
    header>a{
        font-size: 30px;
        color: white;
        padding: 20px;
    }
    
    .masno1{
        width: 100%;
        background-image: url(../images/tlo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    
    .s1{
        display: flex;
        margin-top: 250px;
        margin-bottom: 250px;
        width: 100%;
        height: 150px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .s1>a{
        display: flex;
        margin: 15px;
        font-size: 20px;
        background-color: rgba(0,0,0,60%);
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        width: 150px;
        text-align: center;
        padding: 30px;
    }
    article{
        width: 550px;
        height: 1300px;
        background-color: black;
        margin: 1%;
        margin-top: 40px;
        border-radius: 1.5vw;
    }
    aside{
        width: 550px;
        height: 700px;
        background-color: black;
        margin: 1%;
        border-radius: 1.5vw;
    }
    .s2{
        width: 100%;
        height: 300px;
        background-color: black;
        margin: 1%;
        border-radius: 1.5vw;
    } 
}

@media (min-width: 1024px){
    body{
        display: flex;
        flex-wrap: wrap;
        background-color: dimgray;
        justify-content: space-around;
    }
    .m1{
        width: 100%;
        background-color:rgba(0, 0, 0, 30%);
        position: fixed;
        top: 0;
        height: 100%;
        color: white;
        text-align: center;
        padding-top: 400px;
        font-size: 8vw;
    }
    header{
        width: 100%;
        height: 80px;
        background-color: black;
    }
    header>a{
        font-size: 30px;
        color: white;
        padding: 20px;
    }
    
    .masno1{
        width: 100%;
        background-image: url(../images/tlo.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    
    .s1{
        display: flex;
        margin-top: 250px;
        margin-bottom: 250px;
        width: 100%;
        height: 175px;
        background-color: rgba(0,0,0,60%);
        justify-content: center;
        align-items: center;
    }
    .s1>a{
        margin: 25px;
        font-size: 25px;
        color: white;
        border: 1px solid white;
        border-radius: 1.5vw;
        width: 250px;
        text-align: center;
        padding: 30px;
    }
    article{
        width: 70%;
        height: 1300px;
        background-color: black;
        margin-top: 40px;
        border-radius: 1.5vw;
    }
    aside{
        width: 23%;
        height: 1300px;
        background-color: black;
        margin-top: 40px;
        border-radius: 1.5vw;
    }
    .s2{
        width: 95%;
        height: 300px;
        background-color: black;
        margin: 1%;
        border-radius: 1.5vw;
    }
}